<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人信息</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">软件工程论坛</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">软件工程论坛首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/download">资料下载</a>
            </li>
        </ul>
        <button class="btn btn-primary" type="button"
                data-toggle="modal" data-target="#myModal"
                th:if="${user == null}">登录</button>
        <ul class="navbar-nav" th:if="${user != null}">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="${user.name}">
                    用户名
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/self">个人信息</a>
                    <a class="dropdown-item" href="/course">我的课程</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" id="logout">登出</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">登录</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form method="post" id="loginForm">
                    <div class="form-group">
                        <label for="name">账号</label>
                        <input type="text" name="账号"
                               class="form-control" id="name" placeholder="账号" />
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" name="密码"
                               class="form-control" id="password" placeholder="密码" />
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="login">登录</button>
            </div>

        </div>
    </div>
</div>
<br/>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/self">个人信息</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/course">课程</a>
        </li>
    </ul>

    <br/>
    <form>
        <div class="form-group">
            <label>学工号</label>
                <p class="form-control-static" th:text="${user.number}">123456</p>
        </div>
        <div class="form-group">
            <label for="userName">姓名</label>
            <input type="text" class="form-control" id="userName" placeholder="姓名" th:value="${user.name}">
        </div>
        <div class="form-group">
            <label for="userEmail">电子邮箱</label>
            <input type="email" class="form-control" id="userEmail" placeholder="电子邮箱" th:value="${user.email}">
        </div>
        <div class="form-group">
            <label for="userPassword">密码</label>
            <input type="password" class="form-control" id="userPassword" placeholder="密码不改就留空">
        </div>
        <div class="form-group">
            <label for="userPassword2">重复密码</label>
            <input type="password" class="form-control" id="userPassword2" placeholder="密码不改就留空">
        </div>
        <button type="button" class="btn btn-info" id="submitUserInfo">提交</button>
    </form>
</div>

<script src="/home.js"></script>
<script src="/self.js"></script>
</body>
</html>
