<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${topic.title}">主题页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">软件工程论坛</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">软件工程论坛首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/download">资料下载</a>
            </li>
            <li class="nav-item" th:if="${user != null} and ${user.type} eq 'admin'">
                <a class="nav-link" href="/log">日志管理</a>
            </li>
            <li class="nav-item" th:if="${user != null} and ${user.type} eq 'admin'">
                <a class="nav-link" href="/user">用户管理</a>
            </li>
        </ul>
        <button class="btn btn-primary" type="button"
                data-toggle="modal" data-target="#myModal"
                th:if="${user == null}">登录</button>
        <ul class="navbar-nav" th:if="${user != null}">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="${user.name}">
                    用户名
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/self">个人信息</a>
                    <a class="dropdown-item" href="/course">我的课程</a>
                    <a class="dropdown-item" href="/message">私信</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" id="logout">登出</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">登录</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form method="post" id="loginForm">
                    <div class="form-group">
                        <label for="name">账号</label>
                        <input type="text" name="账号"
                               class="form-control" id="name" placeholder="账号" />
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" name="密码"
                               class="form-control" id="password" placeholder="密码" />
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="login">登录</button>
            </div>

        </div>
    </div>
</div>

<br/>


<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">首页</a></li>
            <li class="breadcrumb-item" aria-current="page"><a th:href="'/board/' + ${topic.board.id}" th:text="${topic.board.name}">板块</a></li>
            <li class="breadcrumb-item active" th:text="${topic.title}">主题</li>
        </ol>
    </nav>

    <br/>

    <div class="card" th:each="reply : ${page.getContent()}">
        <div class="card-body">
            <h5 class="card-title" th:text="${reply.user.name}">用户名</h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${reply.floor} + '楼'">楼层数</h6>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${#dates.format(reply.replyDate, 'yyyy-MM-dd')}">回复时间</h6>
            <p class="card-text" th:text="${reply.content}">回复内容</p>
            <a href="#" class="card-lind" data-toggle="modal" data-target="#deleteModal" data-name="主题名" th:if="${user != null} and ${user.type} eq 'admin'" th:attr="data-content=${reply.content}, data-id=${reply.id}">删除</a>
        </div>
    </div>

    <br/>


    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:if="${start} gt 0">
                <a class="page-link" href="#" aria-label="Previous" th:href="'/topic/' + ${topic.id} + '?start=0'">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="pageN : ${pageNum}" th:class="${pageN} eq ${start} ? 'page-item active' : 'page-item'">
                <a class="page-link" href="#" th:href="'/topic/' + ${topic.id} + '?start=' + ${pageN}" th:text="${pageN + 1}">1</a>
            </li>
            <li class="page-item" th:if="${start} lt ${page.totalPages - 1}">
                <a class="page-link" href="#" aria-label="Next" th:href="'/topic/' + ${topic.id} + '?start=' + ${page.totalPages - 1}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <br/>

    <form th:if="${user == null} or ${user.ban == true}">
        <div class="form-group">
            <label>回复</label>
            <textarea class="form-control" rows="5" disabled></textarea>
        </div>
        <button type="submit" class="btn btn-primary" disabled>回复</button>
    </form>
    <form th:if="${user != null} and ${user.ban == false}">
        <div class="form-group">
            <label>回复</label>
            <textarea class="form-control" rows="5" id="content"></textarea>
        </div>
        <input type="hidden" id="topicId" th:value="${topic.id}"/>
        <button type="button" class="btn btn-primary" id="addReply">回复</button>
    </form>

    <!-- DeleteModal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">删除回复</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form method="post" id="deleteForm">
                        <input type="hidden" name="id"/>
                        <div class="form-group">
                            <label>回复</label>
                            <input type="text" name="content" readonly
                                   class="form-control-plaintext" placeholder="回复" />
                        </div>
                    </form>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="delete">删除</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/home.js"></script>
<script src="/topic.js"></script>
</body>
</html>